*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.8rem;
    background-color: $dark-cyan;
    color: $very-dark-desaturated-blue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url('/images/bg-pattern-top.svg'), url('/images/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-position: right 42vw bottom 45vh, left 45vw top 47vh;
}