.card {
    background-color: white;
    border-radius: .8rem;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);

    &__header {
        background-image: url('/images/bg-pattern-card.svg');
        border-radius: .8rem .8rem 0 0;
        height: 150px;
        width: 330px;
        background-position: center;
    }

    &__body {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;


        .img {
            border-radius: 50%;
            position: absolute;
            border: 7px solid white;
            top: -5rem;
        }

        .name {
            margin-top: 8rem;
            font-weight: 700;
        }

        .age {
            color: $dark-gray;
            font-weight: 400;
        }

        .country {
            font-size: 1.4rem;
            margin-top: 1rem;
            color: $dark-gray;
        }
    }

    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 3rem 2rem 2rem 2rem;
        margin-top: 3rem;
        border-top: 1px solid #ddd;
    }
}